# Composer
/vendor/
/composer.lock

# Laravel cache
/bootstrap/cache/*
!bootstrap/cache/.gitignore

# Env & secrets
.env
.env.*.local
.env.local

# Storage (оставляем служебные .gitignore)
# ключи
/storage/*.key
# файлы приложения
/storage/app/*
!/storage/app/.gitignore
# фреймворк
/storage/framework/*
!/storage/framework/.gitignore
# логи
/storage/logs/*
!/storage/logs/.gitignore

# Node
/node_modules/
/public/hot
/public/storage
/public/mix-manifest.json

# IDE / OS
.idea/
.vscode/
*.log
*.swp
.DS_Store

# Docker/runtime/tmp
/tmp/
docker-data/
